@page
@model HelloWorld.Pages.Produtos.SucessoModel
@{
}
<div class="alert alert-success text-center" role="alert">
    Produto criado com sucesso!!!
    <a asp-page="/Produtos/Index">Voltar</a>
</div>
